@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'iransans';
  src: url('../assets/fonts/IRANSans(FaNum).ttf');
}

body {
  font-family: 'iransans, sans-serif';
  background-color: #fffbf7;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
